<div class="header-div">
    <h6>
        Portfolio
    </h6>
</div>
<div class="container">
    <div class="row">
        <div class="portfolio-card col-md">
            <a target="_blank" href="https://stephen-store.vercel.app">
                My E-commerce App
                <img src="../../../assets/imgs/folio-1.jpg" alt="portfolio-card">
            </a>
        </div>
        <div class="portfolio-card col-md">
            <a target="_blank" href="https://github.com/M-Steve1">
                GitHub
                <img src="./../../assets/imgs/folio-2.jpg" alt="portfolio-card">
            </a>
        </div>
        <div class="portfolio-card col-md">
            <a target="_blank" href="https://github.com/M-Steve1/stephenstore-serverside">
                E-commerce Api
                <img src="./../../assets/imgs/folio-3.jpg" alt="portfolio-card">
            </a>
        </div>
    </div>
</div>