<div class="header-div">
    <h6>
        Portfolio
    </h6>
</div>
<div  class="container">
    <div class="row">
        <div class="col-md">
            <a target="_blank" href="https://stephenstore.vercel.app">
                My E-commerce App
                <img src="../../../assets/imgs/folio-1.jpg" alt="portfolio-card">
            </a>
        </div>
        <div class="col-md">
            <a target="_blank" href="https://github.com/M-Steve1/Home-security-app">
                Home Security App(Java)
                <img class="home-security-app-image" src="../../../assets/imgs/home-security.png" alt="portfolio-card">
            </a>
        </div>
        <div class="col-md">
            <a target="_blank" href="https://github.com/M-Steve1/stephenstore-serverside">
                E-commerce Api
                <img src="./../../assets/imgs/folio-3.jpg" alt="portfolio-card">
            </a>
        </div>
    </div> <br>
    <div class="row">
        <swiper
        class="col-md me-3"
        [slidesPerView]="1" 
        [navigation]="false" 
        [keyboard]="{ enabled: true }" 
        [virtual]="true"
        [autoplay]="true">
            <ng-template swiperSlide>
                <a target="_blank"  href="https://stephenmovieapp.vercel.app">
                    Movie Review App
                    <img src="./../../assets/imgs/movie-review-app-image1.png" alt="portfolio-card">
                </a> 
            </ng-template>
        
            <ng-template swiperSlide>
                <a target="_blank"  href="https://stephenmovieapp.vercel.app">
                    Movie Review App
                    <img src="./../../assets/imgs/movie-review-app-image2.png"  alt="portfolio-card">
                </a> 
            </ng-template>
            <ng-template swiperSlide>
                <a target="_blank" href="https://stephenmovieapp.vercel.app">
                    Movie Review App
                    <img src="./../../assets/imgs/movie-review-app-image3.png"  alt="portfolio-card">
                </a> 
            </ng-template>
            <ng-template swiperSlide>
                <a target="_blank"  href="https://stephenmovieapp.vercel.app">
                    Movie Review App
                    <img src="./../../assets/imgs/movie-review-app-image4.png"  alt="portfolio-card">
                </a> 
            </ng-template>
        </swiper>
        <swiper
        class="col-md"
        [slidesPerView]="1" 
        [navigation]="false" 
        [keyboard]="{ enabled: true }" 
        [virtual]="true"
        [autoplay]="true">
            <ng-template swiperSlide>
                <a target="_blank" href="https://stephenhotel.vercel.app">
                    Hotel Reservation API
                    <img src="./../../assets/imgs/hotel-reservation-app.png" alt="portfolio-card">
                </a> 
            </ng-template>
        
            <ng-template swiperSlide>
                <a target="_blank" href="https://stephenhotel.vercel.app">
                    Hotel Reservation API
                    <img src="./../../assets/imgs/hotel-reservation-app2.png" alt="portfolio-card">
                </a> 
            </ng-template>
            <ng-template swiperSlide>
                <a target="_blank" href="https://stephenhotel.vercel.app">
                    Hotel Reservation API
                    <img src="./../../assets/imgs/hotel-reservation-app3.png" alt="portfolio-card">
                </a> 
            </ng-template>
            <ng-template swiperSlide>
                <a target="_blank" href="https://stephenhotel.vercel.app">
                    Hotel Reservation API
                    <img src="./../../assets/imgs/hotel-reservation-app4.png" alt="portfolio-card">
                </a> 
            </ng-template>
        </swiper>
    </div>
</div>

