<div class="container">
    <div class="row">
        <div class="col-lg">
            <img src="../../../assets/imgs/20230328_224654_0000.png" alt="">
        </div>
        <div class="col-lg">
            <h2>About me</h2>
            <p>
                I'm Stephen, a Software Engineer who loves building dynamic web applications. I recently developed an e-commerce web app using node.js, Angular and PostgresSQL. I am passionate about programming. I'd love to combine my passion for learning with my skill in web development to continue building web applications for people. I have worked with the following programming languages JavaScript, Java, Python and C.
            </p>
        </div>
    </div>
</div>